/* * {
    border: 1px solid pink;
} */

.titleCharacter {
    white-space: nowrap;
}

#title-play {
    margin: 40px 0 0 0;
}

#rock, #paper, #scissors, #lizard, #spock {
    margin-bottom: 10px;
}

p {
   text-align: center;
   line-height: .9em;
}

.game-button {
    line-height: 2em;
}

#game-count {
  clear: both;
  padding: 30px 0;
}

